

.op{
    position: absolute;
    animation: mains 3s ease-in-out;
}
.w-20{
        width: 14%;
        height: 20%;
        margin: 0;
}


h6{
        font-size: 40px;
        top: 190px;
        left: 10px;
        position: absolute;
} 

.front-border{
        color: rgb(35, 34, 34);
        text-shadow: 
        -3px -3px 0 rgb(12, 12, 12),
        3px -3px 0 #000,
        3px 3px 0 #222,
        -3px 3px 0 #222,
}

.border-front{
        color: #dc143c;
        animation: fr 3s ease-in-out infinite
}


@keyframes fr {
        0%, 100% {
                clip-path: polygon(
                0% 47%,
                10% 48%,
                33% 54%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%
        );
}

        50% {
                clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%
        );
}
}

@keyframes mains {
        0% {
                opacity: 0;
        }

        100% {
                opacity: 1;
        }
}

.opacityStart{
        background: transparent;
        color: #fff;
        margin: 0;
        border: none;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        animation: opacityStart 6s ease-in-out infinite reverse;
    }
    
    @keyframes opacityStart {
            0% {
            opacity: 0;
            }
            25%{
            opacity: 1;
        }
        50%{
            opacity: 1;
        }
            85% {
            opacity: 1;
            }
            100% {
            opacity: 0;
            }
    }


@media (max-width: 3440px) {
        h6{
                font-size:190px;
                top: -70px;
                left:520px;
        } 
}

@media (max-width: 1920px) {
        h6{
                font-size: 140px;
                top: 60px;
                left:450px;
        } 
}
@media (max-width: 1600px) {
        h6{
                font-size: 120px;
                top: 0px;
                left:320px;
        }
}
@media (max-width: 1280px) {
        h6{
                font-size: 100px;
                top: 180px;
                left:240px;
        }
}
@media (max-width: 768px){
        h6{
                font-size: 75px;
                top: 240px;
                left: 80px;
                position: absolute;
        }  
} 
@media (max-width: 428px){
        h6{
                font-size: 40px;
                top: 335px;
                left: 50px;
                position: absolute;
        }     
}
@media (max-width: 393px), (max-height: 873px) {
        h6{
                font-size: 35px;
                top: 275px;
                left: 70px;
                position: absolute;
        }     
} 

@media (max-width: 375px){
        h6{
                font-size: 35px;
                top: 225px;
                left: 40px;
                position: absolute;
        }     
}
