
.container-button-start{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.submit{
    background: none;
    padding: 15px 90px;
    color: #fff;
    font-size: 15px;
    border-radius: 40px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}
.submit:hover{
    background: rgb(9, 9, 9, 0.9);
    transition: all ease-in-out .5s;
}
.btn-float-start {
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(220, 20, 60, 0.6);
    transform: translatey(0px);
    animation: floatStart 6s ease-in-out infinite reverse;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 180px;
}

@keyframes floatStart {
    0% {
        box-shadow: 0 0px 0px 10px rgba(220, 20, 60, 7);
        transform: scale(1);
    }
    50% {
        box-shadow: 0 0px 135px 50px rgba(220, 20, 60, 0.6);
        transform: scale(1.2);
    }
    100% {
        box-shadow: 0 0px 0px 10px rgba(220, 20, 60, 1);
        transform: scale(1);
    }
}


.content{
    display: flex;
    gap: 20px;
}
.text-title{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0.5;
    margin-bottom: 60px;
}
.line{
    background: transparent;
    color: #fff;
    margin: 0;
    border: none;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    animation: opacityStart 6s ease-in-out infinite reverse;
}

@keyframes opacityStart {
    0% {
        opacity: 0;
    }
    45%{
        opacity: 0.3;
    }
    50%{
        opacity: 0.4;
    }
    65% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
    }
}
@media (max-width: 3440px) {
    .container-button-start{
        width: 100%;
    }
    .content{
        margin-top: 20px;
        gap: 850px;
    }
    .text-title{
        margin-top: 20px;
        font-size: 80px;
    }
    .line{
        font-size: 28px;
    }
    .submit{
        padding: 20px 270px;
        font-size: 18px;
        font-weight: 700;
    }
    .btn-float-start {
        margin: 80px;
    }
}
@media (max-width: 1920px) {

    .container-button-start{
        width: 100%;
    }
    .content{
        margin-top: 20px;
        gap: 550px;
    }
    .text-title{
        margin-top: 20px;
        font-size: 60px;
    }
    .line{
        font-size: 26px;
    }
    .submit{
        padding: 20px 270px;
        font-size: 18px;
        font-weight: 700;
    }
    .btn-float-start {
        margin: 80px;
    }
}
@media (max-width: 1600px) {
    .container-button-start{
        width: 90%;
    }
    .content{
        margin-top: -20px;
        gap: 350px;
    }
    .text-title{
        margin-top: 20px;
        font-size: 50px;
    }
    .line{
        font-size: 26px;
    }
    .submit{
        padding: 20px 200px;
        font-size: 18px;
    }
    .btn-float-start {
        margin: 80px;
    }
}
@media (max-width: 1280px) {
    .container-button-start{
        width: 90%;
    }
    .content{
        margin-top: 20px;
        gap: 350px;
    }
    .text-title{
        margin-top: 20px;
        font-size: 50px;
    }
    .line{
        font-size: 20px;
    }
    .submit{
        padding: 20px 200px;
        font-size: 12px;
    }
    .btn-float-start {
        margin: 140px;
    }
}

@media (max-width: 992px) {
    .container-button-start{
        width: 80%;
    }
    .content{
        margin-top: 20px;
        gap: 200px;
    }
    .text-title{
        margin-top: 20px;
        font-size: 45px;
    }
    .line{
        font-size: 20px;
    }
    .submit{
        padding: 20px 200px;
        font-size: 12px;
    }
    .btn-float-start {
        margin: 140px;
    }
}

@media (max-width: 768px) {
    .content{
        margin-top: 20px;
        gap: 90px;
    }
    .text-title{
        margin-top: 40px;
        margin-bottom: 30px;
        font-size: 48px;
    }
    .line{
        font-size: 23px;
    }
    .submit{
        background: none;
        padding: 13px 110px;
        
    }
    .btn-float-start {
        margin: 140px;
        font-size: 16px;
        font-weight: 500;
    }
}

@media (max-width: 428px){
    .content{
        margin-top: 20px;
        gap: 35px;
    }
    .text-title{
        margin-top: 40px;
        margin-bottom: 70px;
        font-size: 28px;
    }
    .line{
        font-size: 15px;
    }
    .submit{
        background: none;
        padding: 13px 110px;
        
    }
    .btn-float-start {
        margin: 140px;
        font-size: 12px;
        font-weight: 500;
    }
}
@media (max-width: 393px){
    .content{
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 35px;
    }
    .text-title{
        margin-top: 20px;
        margin-bottom: 50px;
        font-size: 27px;
    }
    .line{
        font-size: 14px;
    }
    .submit{
        background: none;
        padding: 13px 110px;
        
    }
    .btn-float-start {
        margin: 120px;
        font-size: 12px;
        font-weight: 500;
    }
}
@media (max-width: 375px){
    .content{
        margin-top: 20px;
        gap: 35px;
    }
    .text-title{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 24px;
    }
    .line{
        font-size: 12px;
    }
    .submit{
        background: none;
        padding: 13px 110px;
        
    }
    .btn-float-start {
        margin: 120px;
        font-size: 12px;
        font-weight: 500;
    }
}